.action-dialog {
    @include xs{
        max-width: 90% !important;
    }
    .mat-dialog-container {
        padding: 0;
    }

    &__content {
        padding: 23px;
        &-text{
font-size: 20px;

        }
    }

    &__icon {
        padding: 18px;
        background-color: $primary-color;
        display: grid;
        place-content: center;
    }

    &__action {
        display: flex;
        justify-content: flex-end;
        &-btn {
            border: 1px solid transparent;
            padding:4px 12px;
            font-size: 14px;
            border-radius:4px ;

            &.primary {
                background-color: $primary-color;
                color: #fff;
                &:hover,&:active,&:focus{
                    background-color: darken($color: $primary-color, $amount: 10);
                }
            }

            &.secondary {
                border-color: #b8b7b7;
                background-color: transparent;
                
                &:hover,&:active,&:focus{
                    background-color: darken($color: #fff, $amount: 10);
                }
            }
        }
    }

    &__input{
        width: 100%;
        margin-bottom: 1px;
    border-radius: 4px;
    border: 1px solid #dddddd;
    padding: 4px 12px;

        &-wrapper{
            margin-bottom: 20px;
        }
    }
}

.action-snackbar{
    background: $success;
    padding: 26px 12px;
    color: #fff;
}